 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <div class="col-lg-4">
                    <p>Hi, I'm a freelance game developer! I currently work as a full-stack web developer for <a href="https://www.holley.com/" target="_blank">Holley Performance Products</a>. I also teach kids how to code at <a href="https://www.awesomeincu.com/" target="_blank">Awesome Inc U</a>. When I'm not doing any of those things, I'm probably working on my own games.</p>
                </div>
                <div class="col-lg-4">
                    <p>My Bachelor's in Computer Science was for game design. I've been educated and trained for every stage of the development process, including design, prototyping, programming, presenting, and marketing. Designing and writing games has been my favorite passion for as long as I can remember.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm always looking for cool projects, so don't hesitate to reach out if you're interested! If you happen to find yourself in Lexington, KY, be sure to check out <a href="http://runjumpdev.org/" target="_blank">RunJumpDev</a>, a nonprofit dedicated to growing and cultivating the local game development community in Kentucky.</p>
                </div>
            </div>
        </div>
    </section>