 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software developer at <a href="http://apaxsoftware.com/" target="_blank">Apax Software</a>, where I work on websites and applications. I'm also a developer at <a href="http://www.awesomeinc.org/" target="_blank">Awesome Inc</a>, where I made a game that introduces new team members to the company culture. I'm finishing my senior year at Eastern Kentucky University, where I've been studying Interactive Multimedia for my B.S.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm currently working on a mobile game that I plan to release by December 2016. If you happen to find yourself in Lexington, KY, be sure to check out <a href="http://runjumpdev.org/" target="_blank">RunJumpDev</a>, a nonprofit dedicated to growing and cultivating the local game development community in Kentucky.</p>
                </div>
            </div>
        </div>
    </section>