 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Dustin Peerce started his career in software engineering nearly a decade ago. The journey started with an internship at <a href="https://www.awesomeinc.org/" target="_blank">Awesome Inc</a>, where Dustin lended his web expertise to local startups in his community. This internship led him to his first software job at <a href="https://apaxsoftware.com/" target="_blank">APAX Software</a>, where he continued to develop his skills while giving back to the community. When he wasn't coding, he was teaching and mentoring at <a href="https://www.awesomeincu.com/" target="_blank">Awesome Inc U</a>. In 2017, he opted for a change in scenery and moved to Bowling Green, KY, where he currently works as a web developer for Holley Performance.</p>
                </div>
                <div class="col-lg-6">
                    <p>The real drive behind Dustin, however, is his interest in game development. He earned a Bachelor's of Science in Interactive Multimedia, a concentration in game programming, from Eastern Kentucky University. This program introduced him to incredible opportunities and a breadth of knowledge, but his experience with game development started long before then. He's been tinkering since the age of 10, starting with GameMaker. He now has extensive experience with Unreal Engine and Unity, and there might be a couple unannounced projects using those engines. You might want to keep an eye on this guy, because he sounds pretty cool.</p>
                </div>
            </div>
        </div>
    </section>